@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Load Tailwind & DaisyUI */
@import "tailwindcss";
@plugin "daisyui";

/* LIGHT THEME */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --primary: #5a2dff;
  --secondary: #4b32c3;

  --accent: #7b56ff;
  --neutral: #1e1e1e;

  --base-100: #ffffff;
  --base-200: #f5f6ff;

  --info: #99c6ff;
  --success: #8bffa8;
  --warning: #ffdf8b;
  --error: #ff8b8b;
}

/* DARK THEME */
@plugin "daisyui/theme" {
  name: "dark";

  --primary: #7b5fff;
  --secondary: #6345e0;

  --accent: #9a7fff;
  --neutral: #d9d9d9;

  --base-100: #0f0f17;
  --base-200: #1a1a25;

  --info: #4b6bff;
  --success: #5eff8a;
  --warning: #ffcb5c;
  --error: #ff6b6b;
}
